/*****************************Universal Styling*********************************************************************/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    outline: none;
}

.main-wrapper {
    position: relative;
    overflow: hidden;
}

.linebreak {
    width: 100%;
    height: 3px;
}

.form h2 {
    font-family: 'poppins', 'sans-serif';
    line-height: 1.4;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.form h2 span {
    color: #04813E;
    font-weight: bold;
}

.form-wrapper-01,
.form-wrapper-02,
.form-wrapper-03 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 2rem;
}

.interested-in-buying,
.search-listings,
.type-of-home,
.price-range,
.beds-baths,
.credit-rating {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}

.credit-buttons-wrapper,
.buying-buttons-wrapper,
.search-buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 2rem;
}

@media screen and (max-width: 670px) {

    .form-wrapper-01,
    .form-wrapper-02,
    .form-wrapper-03 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1rem;
    }
}


/*****************************Navigation Styling*********************************************************************/


.navigation {
    width: 100%;
    background-color: #F5F5F5;
    text-align: left;
}

.navigation img {
    width: 10%;
    padding: 15px 0;
    display: block;
    margin-left: 150px;
}

@media screen and (max-width: 1200px) {
    .navigation img {
        width: 13%;
    }
}

@media screen and (max-width: 768px) {
    .navigation img {
        width: 15%;
        margin-left: 75px;
    }
}

@media screen and (max-width: 670px) {
    .navigation {
        width: 100%;
        background-color: #FFFFFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .navigation img {
        width: 20%;
        margin: 0;
        padding: 20px 0;
    }
}

@media screen and (max-width: 320px) {
    .navigation img {
        width: 23%;
    }
}


/*****************************Form Styling****************************************************************************************************/

/*****************************Search Styling*********************************************************************/


.form {
    width: 70%;
    margin: 4% auto;
    -webkit-box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
    background-color: #F5F5F5;
    max-width: 1250px;
}

.search-results-wrapper {
    text-align: center;
    background-color: #04813E;
    padding: 0.5rem 0;
}

.search-paragraph-01,
.search-paragraph-02 {
    color: #FFFFFF;
    font-size: 1rem;
}

.search-paragraph-01 {
    font-family: 'poppins', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0.1rem;
}

.search-paragraph-02 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    padding-top: 0.1rem;
}

.form-section-one {
    text-align: center;
    padding: 2rem 1rem;
}

.zip-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.zip {
    font-family: 'Noto Sans', sans-serif;
    color: #515353;
    font-size: 1rem;
    background-color: #FFF;
    width: 100%;
    max-width: 200px;
    height: 39px;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid #515353;
    margin-left: 13px;
    margin-right: 13px;
    display: inline-block;
    text-align: center;
    cursor: text;
    outline: none;
}

.mobile-top-image {
    background-image: url(IMG/top-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    display: none;
}

@media screen and (max-width: 768px) {
    .form {
        width: 95%;
        margin: 8% auto;
    }
}

@media screen and (max-width: 670px) {

    .form {
        width: 100%;
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: relative;
        z-index: 2;
        background-color: #F5F5F5;
    }

    .form h2 {
        font-size: 16px;
    }

    .search-results-wrapper {
        background-color: #04813e;
    }

    .search-paragraph-01,
    .search-paragraph-02 {
        color: #FFFFFF;
        font-size: 0.8rem;
    }

    .zip-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 1rem;
    }

    .zip {
        margin: 0.4rem 0;
        height: 30px;
        font-size: 0.8rem;
    }

    .mobile-top-image {
        display: block;
    }
}



/*****************************form-wrapper-01 Styling*********************************************************************/



.type-button-wrapper {
    padding: 2rem 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.btn {
    text-align: center;
    padding: 1.4rem 1.5rem 1.4rem 1.5rem;
    background: #fff;
    border-radius: 50%;
    margin: 0 1.5rem;
    border: 1px solid #515353;
    cursor: pointer;
}

.btn.active {
    background: #04813E;
    border: 1px solid #04813E;
}

.btn.active i {
    color: white;
}

.btn.active p {
    color: white;
}

.btn p {
    color: #515353;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    padding: 0.1rem;
}

.btn i {
    color: #515353;
    font-size: 1.8rem;
}


.price-range h2 {
    padding-top: 0;
}

.price-range-wrapper {
    width: 60%;
    margin: 0 auto;
    padding-top: 3rem;
}

.price-number-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0.7rem;
}

.price-number-wrapper p {
    color: #515353;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}

.irs {
    font-family: 'Noto Sans TC', sans-serif !important;
}

.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
    color: #04813E !important;
    text-shadow: none;
    padding: 0.1rem 0.3rem !important;
    background-color: #FFF !important;
    background: #FFF !important;
    border-radius: 0px !important;
    font-size: 0.9rem;
    font-weight: bold;
}

.irs--big .irs-bar {
    background-color: #04813E !important;
    border: none !important;
    background: #04813E !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.irs--big .irs-line {
    background-color: #FFF !important;
    background: #FFF !important;
    border: none !important;
}

.irs--big .irs-handle {
    border: none !important;
    background-color: #04813E !important;
    background: #04813E !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.irs-from,
.irs-to,
.irs-single {
    top: -10px !important;
}

@media screen and (max-width: 1200px) {

    .btn {
        padding: 1.2rem;
        margin: 0 1.5rem;
    }

    .btn p {
        font-size: 0.8rem;
    }

    .btn i {
        font-size: 1.2rem;
    }

    .price-range-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    .price-range-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 670px) {

    .btn {
        padding: 1.2rem;
        margin: 0 1.5rem;
    }

    .btn p {
        font-size: 0.8rem;
    }

    .btn i {
        font-size: 1.2rem;
    }

    .price-range {
        width: 100%;
        padding-top: 2rem;
    }
}




/*****************************form-wrapper-02 Styling*********************************************************************/


.credit-button {
    text-align: left;
    padding: 0.3rem 2rem;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #515353;
    cursor: pointer;
    width: 100%;
    margin: 0.3rem auto;
    max-width: 232px;
    font-family: 'Noto Sans', sans-serif;
    color: #515353;
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.subtitle-wrapper {
    padding: 1.5rem 1rem 0 1rem;
}

.subtitle-wrapper p {
    font-family: 'Noto Sans', sans-serif;
    color: #04813E;
    font-size: 1rem;
    padding-bottom: 1.3rem;
    text-align: center;
}

.beds-baths-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bed-btn,
.bath-btn {
    font-family: 'Noto Sans', sans-serif;
    color: #515353;
    font-size: 1rem;
    margin: 0 1px;
    background-color: #FFF;
    width: 60px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.bed-btn.activeBed {
    background-color: #04813E;
    color: #fff;
}

.bath-btn.activeBath {
    background-color: #04813E;
    color: #fff;
}

@media screen and (max-width: 1200px) {

    .bed-btn,
    .bath-btn {
        font-size: 0.8rem;
        width: 50px;
    }
}

@media screen and (max-width: 670px) {
    .credit-rating {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 320px) {

    .bed-btn,
    .bath-btn {
        font-size: 0.7rem;
        width: 40px;
        height: 25px;
    }
}


/*****************************form-wrapper-03 Styling*********************************************************************/



.buying-button,
.search-button {
    text-align: center;
    padding: 0.3rem 2rem;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #515353;
    cursor: pointer;
    width: 100%;
    margin: 0.3rem auto;
    max-width: 250px;
    font-family: 'Noto Sans', sans-serif;
    color: #515353;
    text-transform: capitalize;
    font-size: 0.9rem;
}

.search-button {
    max-width: 300px;
}

@media screen and (max-width: 670px) {
    .search-listings {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 320px) {

    .buying-button,
    .search-button,
    .credit-button {
        font-size: 0.8rem;
    }
}



/*****************************Tell us about yourself banner Styling*********************************************************************/



.tell-about-banner {
    background-color: #FFFFFF;
    text-align: center;
    position: relative;
}

.tell-about-banner h3 {
    color: #04813E;
    font-family: 'poppins', 'sans-serif';
    text-transform: uppercase;
    font-size: 24px;
    padding: 1rem 1rem 0 1rem;
    font-weight: 500;
}

.arrow-down-wrapper {
    border-radius: 50%;
    background-color: #04813E;
    text-decoration: none;
    text-align: center;
    height: 27px;
    width: 27px;
    padding: 1.2rem;
    margin: 0 auto;
    position: relative;
    bottom: -1.2rem;
}

.arrow-down-wrapper i {
    font-size: 1.2rem;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    .tell-about-banner h3 {
        font-size: 18px;
    }

    .arrow-down-wrapper {
        height: 20px;
        width: 20px;
        padding: 1rem;
        bottom: -1rem;
    }

    .arrow-down-wrapper i {
        font-size: 1rem;
    }
}

@media screen and (max-width: 670px) {
    .tell-about-banner {
        background-image: url(IMG/mobile-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1.5rem 2.5rem;
    }

    .mobile-wrapper {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 15px;
    }

    .tell-about-banner h3 {
        font-size: 16px;
    }

    .arrow-down-wrapper {
        height: 17px;
        width: 17px;
        padding: 0.8rem;
        bottom: -0.9rem;
        background-color: rgba(4, 129, 62, 0.9);
    }

    .arrow-down-wrapper i {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.9);
    }
}


/*****************************Personal info Styling*********************************************************************/

.personal-info-form {
    position: relative;
}

.personal-info-form img {
    width: 20%;
}

.house-icon {
    position: absolute;
    top: 4vw;
    left: 5vw;
}

.condo-icon {
    position: absolute;
    top: 4vw;
    right: 5vw;
}

.info-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
}

.info-form label {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: lighter;
    color: #000000;
    text-transform: capitalize;
    font-size: 0.9rem;
    text-align: left;
    padding-top: 0.5rem;
    width: 30%;
    margin: 0 auto;
    max-width: 350px;
}

.info-form label:nth-child(1) {
    padding-top: 0;
}

.info-form input {
    text-align: left;
    padding: 0.3rem 0;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #515353;
    cursor: text;
    width: 30%;
    margin: 0.3rem auto;
    font-family: 'Noto Sans', sans-serif;
    color: #515353;
    text-transform: capitalize;
    font-size: 0.9rem;
    outline: none;
    max-width: 350px;
    padding: 0.4rem 1rem;
}

.submit-button {
    text-align: center;
    padding: 0.3rem 0;
    background: #04813E;
    border-radius: 50px;
    cursor: pointer;
    width: 35%;
    font-family: 'poppins', 'sans-serif';
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 1.2rem;
    outline: none;
    text-transform: uppercase;
    max-width: 375px;
    margin: 1.5rem auto 0 auto;
}

.submit-button i {
    padding-left: 0.3rem;
}

@media screen and (max-width: 1200px) {
    .personal-info-form img {
        width: 25%;
    }

    .house-icon {
        top: 6vw;
        left: 2vw;
    }

    .condo-icon {
        top: 6vw;
        right: 2vw;
    }

    .info-form label {
        font-size: 0.8rem;
        padding-top: 0.5rem;
        width: 40%;
    }

    .info-form input {
        padding: 0.3rem 0;
        width: 40%;
        margin: 0.3rem auto;
        font-size: 0.9rem;
        padding: 0.4rem 1rem;
    }

    .submit-button {
        width: 45%;
        font-size: 1.2rem;
        margin: 1.5rem auto 0 auto;
    }
}

@media screen and (max-width: 1000px) {

    .house-icon {
        top: 10vw;
    }

    .condo-icon {
        top: 10vw;
    }
}

@media screen and (max-width: 670px) {
    .house-icon {
        display: none;
    }

    .condo-icon {
        display: none;
    }

    .info-form label {
        font-size: 0.7rem;
        padding-top: 0.5rem;
        width: 80%;
    }

    .info-form input {
        padding: 0.3rem 0;
        width: 80%;
        margin: 0.3rem auto;
        font-size: 0.9rem;
        padding: 0.4rem 1rem;
    }

    .submit-button {
        width: 85%;
        font-size: 1.2rem;
        margin: 1.5rem auto 0 auto;
    }
}


/*****************************Fine Print Styling*********************************************************************/



.fine-print {
    padding: 1.5rem 3rem 3rem 3rem;
    text-align: center;
}

.fine-print p {
    color: #000000;
    font-size: 12px;
    line-height: 204%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

.fine-print-links {
    color: #04813E;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .fine-print p {
        font-size: 11px;
    }
}

@media screen and (max-width: 670px) {

    .fine-print {
        padding: 1.5rem;
    }

    .fine-print p {
        font-size: 10px;
    }
}


/*****************************Background image Styling*********************************************************************/



.background-image {
    width: 30%;
    height: auto;
    position: absolute;
    z-index: 1;
}

.img-one {
    top: 6vw;
    left: -6vw;
}

.img-two {
    top: 5vw;
    right: -3vw;
}

.img-three {
    top: 70vw;
    left: -4vw;
}

.img-four {
    top: 60vw;
    right: -3vw;
}

@media screen and (max-width: 1366px) {

    .background-image {
        width: 40%;
    }

    .img-one {
        top: 10vw;
        left: -6vw;
    }

    .img-two {
        top: 10vw;
        right: -3vw;
    }

    .img-three {
        top: 80vw;
        left: -4vw;
    }

    .img-four {
        top: 70vw;
        right: -3vw;
    }

}

@media screen and (max-width: 1024px) {
    .background-image {
        width: 50%;
    }

    .img-one {
        top: 15vw;
        left: -6vw;
    }

    .img-two {
        top: 15vw;
        right: -3vw;
    }

    .img-three {
        top: 90vw;
        left: -4vw;
    }

    .img-four {
        top: 80vw;
        right: -3vw;
    }
}

@media screen and (max-width: 768px) {
    .background-image {
        display: none;
    }
}
